html,body {
    

    margin: 0;
    padding: 0;
    width: 100%;
    grid-area: black;
}

.headers {
    display: flex;
    background-color: #292826;
    flex-wrap: wrap;
justify-content: space-between;
align-items: center;

}

.logo {
    width: 100px;
    margin: left;
}

.menu {
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(141, 52, 52, 0.5);
    background: #292826;
    margin-left: 100px;
}
.link{
    transition: 0.4s;
    color: #9dbd0e;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
.link:hover {
    background-color: #ffffff;
    color: #EEA200;
    padding: 24px 10px;
  }

.banner {

    display: flex;
    height: 400px;
    
}

/*
Conteudo Principal
*/
.container {
    display: flex;
    width: 100%;
    background-color: #b8b0a0 ;
    
}
/*Conteudo Página Principal*/
.conteudo-1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid blanchedalmond;
}
.conteudo-2{
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid blanchedalmond;
    flex-wrap: nowrap  wrap  wrap-reverse;
      
}
.conteudo-3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid blanchedalmond;
}
.conteudo-4{
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 50px;
    border: 2px solid blanchedalmond;
}

/*
Conteudo produtos
*/
.cont-produtos {
    display: flex;
    background-color: #b8b0a0 ;
     flex-wrap: wrap;
    float: left;
}
.cont-1{
    width: 200px;
    height: 250px;
    border: #292826 solid;
    border-radius: 15px 15px 15px 15px;
    margin-top: 40px;
    margin-bottom:20px;
    margin-left: 150px;
    margin-right: 20px;
}
#card-1{
    text-align: center;
}

.container-contato{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #EEA200;
}
.footer{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   background: #292826;
   color: aliceblue;


}

